$bg-main: #f8f9fa;
$bg-header: #cd1818;
$bg-search: #333333;
$color-txt-search: #000;
$bg-menu: #252525;
$color-txt-menu: #ffffff;
$color-txt: #474c51;
$color-txt-footer: #007aff;
$color-txt-hover: #007aff;
$color-item: #6c757d;
$bg-button: #99a2aa;
$bg-button-hover: #6c757d;
$bg-icon: #777;
$mobile-width: 768px;
$tablet-width: 1024px;
$numbers: (0, 1, 2, 3, 4, 5, 6, 7, 8);
